<!doctype html>
<html>
  {% include "head.html" %}
  <!-- <title>chessboard-element Example #{{ id }} - {{ title }}</title> -->
  <body>
    {% include "header.html" %}
    <script type="module" src="/js/chessboard-element.bundled.js"></script>
    <script src="/js/chess-0.10.2.min.js"></script>

    <main>
      <div class="body-width-115f6 flex-c31d5 examples-c30bc">
        <nav class="example-nav-0e953" id="examplesNav">
          {% for group, examples in collections.examples | groupby(util.getPath('data.group')) %}
          <h4>{{ group }}</h4>
          <ul>
            {% for example in examples %}
            <li {% if page.url == example.url %}class="active"{% endif %}><a href="{{ example.url }}">{{ example.data.title }}</a></li>
            {% endfor %}
          </ul>
          {% endfor %}
        </nav>
        <div class="examples-body-9af4d" id="exampleBodyContainer">
          <h2>{{ title }}</h2>          
          <p>{{ content | safe }}</p>
          <div class="container-4e1ee">
            <!-- Begin Example HTML -->
            {% include page.inputPath | htmlPath %}
            <!-- End Example HTML ---->
          </div>
          <h4>HTML</h4>
          {% highlight "html" %}
            {% include page.inputPath | htmlPath %}
          {% endhighlight %}

          {% if page.inputPath | jsPath | fileExists %}
          <h4>JavaScript</h4>
          {% highlight "js" %}
            {% include page.inputPath | jsPath %}
          {% endhighlight %}

          <script>
          // Begin Example JS
          {% include page.inputPath | jsPath %}
          // End Example JS
          </script>

          {% endif %}
        </div>
      </div>
    </main>

    {% include "footer.html" %}

  </body>
</html>
