<!doctype html>
<html>
  {% include "head.html" %}
  <body>
    {% include "header.html" %}

    <main>
      <div class="body-width-115f6 page-529b3">

      <section>
        <h1 class="title-5ad05">Install</h1>

        <section>
          <h2>JavaScript Modules</h2>
          <p>
            chessboard-element is distributed as unbundled JavaScript modules, and imports its
            dependencies like LitElement with "bare" module specificers. These types of 
            import specifiers are not supported natively by web browsers yet, so some
            small amount of tooling is neccessary to transform bare specifiers into 
            paths so that browsers can load the element.
          </p>
          <p>See 
            <a href="https://justinfagnani.com/2019/11/01/how-to-publish-web-components-to-npm/">How to Publish Web Components to NPM</a>
            for details on why chessboard-element is published this way.
          </p>
          <p>
            Bare module specifiers are extremely common in the npm ecosystem, so tool support
            is very good. Tools that support bare module specifiers include:
            <ul>
              <li>Rollup</li>
              <li>es-dev-server</li>
              <li>unpkg.com</li>
              <li>Parcel</li>
              <li>Pika</li>
              <li>Webpack</li>
            </ul>
          </p>
        </section>


        <section>
          <h2>NPM</h2>
          <p>
            chessboard-element is available on <a href="https://www.npmjs.com/">npm</a> under
            the package name <a href="https://www.npmjs.com/package/chessboard-element">chessboard-element</a>
          </p>
          {% highlight "bash" %}npm install chessboard-element{% endhighlight %}

          Once installed locally, you'll need to load or import the element definition.
          You can do this from JavaScript or HTML:

          <h3>JavaScript / TypeScript</h3>
          {% highlight "js" %}import from 'chessboard-element';{% endhighlight %}

          <h3>HTML</h3>
          {% highlight "html" %}<script type="module" src="/node_modules/chessboard-element/index.js"></script>{% endhighlight %}
          Note the <code>type="module"</code> attribute is required.
          The <code>/node_modules/chessboard-element/index.js</code> path must be adjusted to the path you serve
          your <code>node_modules</code> from, and the modules must be transformed to rewrite the bare specifiers.
        </section>

        <section>
          <h2>Content Delivery Network</h2>
          <p>You can use chessboard-element via the <a href="https://unpkg.com/">unpkg CDN</a> with the following links:
          {% highlight "html" %}
<script type="module" src="https://unpkg.com/chessboard-element?module"></script>
          {% endhighlight %}
        </section>

      </section>

      </div>
    </main>

    {% include "footer.html" %}

  </body>
</html>
