===== id
2001

===== Name
Orientation

===== Description
Use the <a href="docs.html#config:orientation"><code class="js plain">orientation</code></a> property to set board orientation.

===== HTML
<chess-board position="start" orientation="black" style="width: 400px"></chess-board>

===== JS
