===== id
2030

===== Name
Piece Theme Function

===== Description
<a href="docs.html#config:pieceTheme"><code class="js plain">pieceTheme</code></a> can be a function.

===== HTML
<chess-board
    style="width: 400px"
    position="start">
</chess-board>

===== JS
const board = document.querySelector('chess-board');
board.pieceTheme = (piece) => {
  // wikipedia theme for white pieces
  if (piece.search(/w/) !== -1) {
    return 'img/chesspieces/wikipedia/' + piece + '.png'
  }

  // alpha theme for black pieces
  return 'img/chesspieces/alpha/' + piece + '.png'
};
