===== id
2063

===== Name
Position Object

===== Description
You can set the <a href="docs.html#config:position"><code class="js plain">position</code></a> property with a <a href="docs.html#position_object">Position Object</a>.

===== HTML
<chess-board style="width: 400px"></chess-board>

===== JS
const board = document.querySelector('chess-board');
board.position = {
  d6: 'bK',
  d4: 'wP',
  e4: 'wK'
}
