===== id
4000

===== Name
change

===== Description
The <a href="docs.html#event:change"><code class="js plain">change</code></a> event fires when the board position changes.

===== HTML
<chess-board
    style="width: 400px"
    position="start"
    draggable-pieces>
</chess-board>

<button id="ruyLopezBtn">Ruy Lopez</button>
<button id="startPositionBtn">Start Position</button>

===== JS
const board = document.querySelector('chess-board');

board.addEventListener('change', (e) => {
  const {value, oldValue} = e.detail;
  console.log('Position changed:');
  console.log('Old position: ' + Chessboard.objToFen(oldValue));
  console.log('New position: ' + Chessboard.objToFen(value));
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~');
});

document.querySelector('#ruyLopezBtn').addEventListener('click', () => {
  const ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R';
  board.position(ruyLopez);
});

document.querySelector('#startPositionBtn').addEventListener('click', () => {
  board.start();
});
