===== id
4001

===== Name
drag-start

===== Description
The <a href="docs.html#event:drag-start"><code class="js plain">drag-start</code></a> event fires every time a piece is picked up.

===== HTML
<chess-board
    style="width: 400px"
    position="start"
    draggable-pieces
    spare-pieces>
</chess-board>

===== JS
const board = document.querySelector('chess-board');

board.addEventListener('drag-start', (e) => {
  const {source, piece, position, orientation} = e.detail;
  console.log('Drag started:')
  console.log('Source: ' + source)
  console.log('Piece: ' + piece)
  console.log('Position: ' + chessUtils.objToFen(position))
  console.log('Orientation: ' + orientation)
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
});
