===== id
4002

===== Name
drag-start Prevent Drag

===== Description
Prevent the drag action by calling <code class="js keyword">preventDefault()</code> from the <a href="docs.html#event:drag-start"><code class="js plain">drag-start</code></a> listener.

===== HTML
<chess-board
    style="width: 400px"
    position="start"
    draggable-pieces>
</chess-board>

<button id="flipOrientationBtn">Flip Orientation</button>

===== JS
const board = document.querySelector('chess-board');

board.addEventListener('drag-start', (e) => {
  const {piece, orientation} = e.detail;
  if ((orientation === 'white' && piece.search(/^w/) === -1) ||
      (orientation === 'black' && piece.search(/^b/) === -1)) {
    e.preventDefault();
  }
});

document.querySelector('#flipOrientationBtn').addEventListener('click', () => {
  board.flip();
});
