===== id
4004

===== Name
drop

===== Description
The <a href="docs.html#event:drop"><code class="js plain">drop</code></a> event fires every time a piece is dropped.

===== HTML
<chess-board
    style="width: 400px"
    position="start"
    draggable-pieces
    spare-pieces>
</chess-board>

===== JS
const board = document.querySelector('chess-board');

board.addEventListener('drop', (e) => {
  const {source, target, piece, newPosition, oldPosition, orientation} = e.detail;
  console.log('Source: ' + source)
  console.log('Target: ' + target)
  console.log('Piece: ' + piece)
  console.log('New position: ' + chessUtils.objToFen(newPosition))
  console.log('Old position: ' + chessUtils.objToFen(oldPosition))
  console.log('Orientation: ' + orientation)
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
});
