===== id
4005

===== Name
drop Snapback

===== Description
If <code class="js string">'snapback'</code> is passed to the <a href="docs.html#event:drop"><code class="js plain">drop</code></a> event's <code class="js plain">setAction()</code> function, the dragged piece will return to it's source square.

===== HTML
<chess-board
    style="width: 400px"
    position="start"
    draggable-pieces>
</chess-board>

===== JS
const board = document.querySelector('chess-board');

// snapback black pieces when they are dropped
board.addEventListener('drop', (e) => {
  const {piece, setAction} = e.detail;
  if (piece.search(/b/) !== -1) {
    setAction('snapback');
  }
});
