===== id
4006

===== Name
drop Trash

===== Description
If <code class="js string">'trash'</code> is passed to the <a href="docs.html#event:drop"><code class="js plain">drop</code></a> event's <code class="js plain">setAction()</code> function, the dragged piece will be removed.

===== HTML
<chess-board
    style="width: 400px"
    position="start"
    draggable-pieces>
</chess-board>

===== JS
const board = document.querySelector('chess-board');

// trash black pieces when they are dropped
board.addEventListener('drop', (e) => {
  const {piece, setAction} = e.detail;
  if (piece.search(/b/) !== -1) {
    setAction('trash');
  }
});
