<!doctype html>
<html>
<head>
   <meta http-equiv="refresh" content="0; url=https://github.com/justinfagnani/chessboard-element/blob/master/LICENSE.md">
</head>
<body>
    <a href="https://github.com/justinfagnani/chessboard-element/blob/master/LICENSE.md">chessboard-element MIT license</a>
</body>
</html>
