<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>chessboard-element Example #{{{id}}} - {{{name}}}</title>
  <base href="../">
  {{#css}}
  <style type="text/css">
  {{{css}}}
  </style>
  {{/css}}
</head>
<body>
<p><a href="examples#{{{id}}}">&larr; Back to all examples.</a></p>

<p>{{{description}}}</p>

<!--- Begin Example HTML ------------------------------------------------------>
{{{html}}}
<!--- End Example HTML -------------------------------------------------------->

<script src="js/jquery-3.4.1.min.js"></script>
{{{chessboardJsScript}}}
<script>
// --- Begin Example JS --------------------------------------------------------
{{{js}}}
// --- End Example JS ----------------------------------------------------------
</script>
</body>
</html>
